<div class="container">
	<div class="row quiz-title">
    	<div class="col-sm-12 quiz-title">
    		<p class="text-center display-4">
			  <strong>Welcome to the Ligo's quiz!</strong>
			</p>
    	</div>
    </div>
    <div class="row">
    	<div class="col-sm-2"></div>
    	<div class="col-sm-8 quiz-title text-center">
    		<%= render 'form', quiz: @quiz %>
    	</div>
    	<div class="col-sm-2"></div>
    </div>
</div>